@import url("https://fonts.googleapis.com/css?family=Monoton");
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: lightblue;
}

.form .field textarea {
  overflow: auto;
  resize: none;
  font-size: 2.5em;
}

.mt-3 {
  margin-top: 30px;
}

.mAlign {
  text-align: center;
}

#titleHeader {
  font-family: 'Luckiest Guy', cursive;
  font-size: 3.5em;
  color: orangered;
}

.word {
  margin: auto;
  color: white;
  font: 700 normal 4em/1.5 'Montserrat',sans-serif;
  text-shadow: 1px 2px #288ce3, 2px 4px #288ce3, 3px 6px #288ce3, 4px 8px #288ce3;
}